nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(66, 66, 66);
  h1 {
    font-size: 1.5rem;
  }

  button {
    background-color: rgb(66, 66, 66);
    border: none;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    font-size: 1.5rem;
    color: white;
    padding: 0.4rem 0.4rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(31, 31, 31);
      color: rgb(255, 255, 255);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
      color: white;
      background-color: rgb(66, 66, 66);
    }
  }
}
